@{
    ViewData["Title"] = "Adicionar Usuario";
}

<div class="text-center">
    <h1>Adicionar Usuarios</h1>
</div>
</<br />
<form action="/Usuario/AdicionarUsuario" method="post" class="form">

    <label>Id</label>
    <input type="text" name="id" value="" placeholder="Digite o Id" required />

    <label>Nome</label>
    <input type="text" name="nome" value="" placeholder="Digite seu nome" required/>

    <label>Senha</label>
    <input type="password" name="senha" value="" placeholder="Digite sua senha" required />

    <label>Idade</label>
    <input type="number" name="idade" value="" placeholder="Digite sua idade" required/>

    <label>Celular</label>
    <input type="number" name="celular" value="" placeholder="Digite seu celular" required/>

    <input type="submit"  value="Salvar" />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
</form>
<style>
    .form{
        display:flex;
        flex-direction:column;
        padding:1rem;
        border:1px solid red; 
       
    }
    input{
        width:35%;
    }
</style>