@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="text-center">
    <h1>Editar Usuario</h1>
</div>
</
<br />
<form asp-action="Editar" asp-route-id="@Model.Id" method="post" class="form">

    <label>Nome</label>
    <input type="text" name="Nome" value="@Model.Nome" placeholder="Digite o gasto" required />

    <label>Idade</label>
    <input type="number" name="Valor" value="@Model.Valor" placeholder="Digite o valor" required />

    <input type="submit" value="Salvar" />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
</form>
<style>
    .form {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 1px solid red;
    }

    input {
        width: 35%;
    }
</style>