@model List<PWA2.Models.GastosGenericos>
@{
    ViewData["Title"] = "Página Inicial";
}

@if(Model != null && Model.Count > 0)
{
    <section>

        <h1>Gastos Genéricos</h1>
        <ul class="aa">
         @foreach (var gastos in Model)
         {
            <li>
                    <div>
                        <span>@gastos.Nome : R$@gastos.Valor Categoria @gastos.Categoria</span>

                        <a class="nav-link text-dark" asp-route-id="@gastos.Id" asp-controller="Home" asp-action="Editar">Editar</a>
                           
                         <a class="nav-link text-dark" asp-route-id="@gastos.Id" asp-controller="Home" asp-action="Excluir">Excluir</a>
                       
                    </div>

            </li>
        }
        </ul>
    </section>
    <div class="text-center">
        <h3>Total: R$@ViewBag.Total</h3>
    </div>
    <div class="categorias">
        
        <div class="text-center">
            <h3>Educacao: R$@ViewBag.Educacao</h3>
        </div>

        <div class="text-center">
            <h3>Casa: R$@ViewBag.Casa</h3>
        </div>

        <div class="text-center">
            <h3>Saude: R$@ViewBag.Saude</h3>
        </div>

        <div class="text-center">
            <h3>Lazer: R$@ViewBag.Lazer</h3>
        </div>

        <div class="text-center">
            <h3>Alimentacao: R$@ViewBag.Alimentacao</h3>
        </div>

        <div class="text-center">
            <h3>Investimentos: R$@ViewBag.Investimentos</h3>
        </div>

        <div class="text-center">
            <h3>Outros: R$@ViewBag.Outros</h3>
        </div>
    </div>
  
}
else
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdicionarGasto">Adicionar Usuario</a>
   
}
    
<style>
    .categorias{
        display:flex;
        column-gap:10px;
    }
    span{
        font-weight: bold;
    }
    .container{
        width: 100%;
        display:flex;
        justify-content:center;
        align-items: center;
    }
    .aa{
        height: 68vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       
    }
    li{
        padding: 1rem;
        border: 1px solid black;
     

        list-style-type: none;
    }
    h3{
        font-size: 18px;
        font-weight: bold;
    }
    div{
        padding-inline: 1rem;
        display:flex;
        align-items: center;
        justify-content:space-between;
    }

    .last{
        border-bottom:1px solid black;
        padding-bottom: 0.5rem;
    }

</style>